
@using TatilSeyahatSitesi.Models.Sınıflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_testlayout.cshtml";
}




<!-- =================================================
Theme Name: Party Bootstrap Theme
Author: WebThemez.com
License: https://webthemez.com/license
======================================================= -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Party Bootstrap 4 Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="Author" name="WebThemez">
    <!-- Favicons -->
    @*<link href="~/webabout/img/favicon.png" rel="icon">
        <link href="~/webabout/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    <!-- Google Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">*@
    <!-- Bootstrap CSS File -->
    <link href="~/webabout/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/webabout/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/webabout/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/webabout/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/webabout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/webabout/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/webabout/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/webabout/css/style.css" rel="stylesheet">
</head>

<body id="body" style="background-color:snow;">

    <!--==========================
      Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">name@websitename.com</a>
                <i class="fa fa-phone"></i> +1 2345 67855 22
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </section>

   

    <main id="main">


        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Ben Kimim?</h2>
                    <p style="color:black;"></p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box wow fadeInLeft">
                            <div class="icon"><i class="fa fa-diamond"></i></div>
                            <h4 class="title"><a href="">Kişisel Bilgiler</a></h4>
                            <p class="description">Adım Duran Ünverdi 1996 istanbul doğdumluyum aslen Yozgatlıyım .Şu anda Bilgisar Mühendisliği son sınıf öğrencisiyim </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="box wow fadeInRight">
                            <div class="icon"><i class="fa fa-hand-pointer-o"></i></div>
                            <h4 class="title"><a href="">Okul Hayatı</a></h4>
                            <p class="description">İlkokulu Tevfik fikret i.ö okulundan mezun oldum<br />Liseyi Tuzla Anadolu Meslek lisesinde okudum<br />Şuanda Düzce Üniversitesi Bilgisayar Mühendisliği Son Sınıf Öğrencisiyim</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-music"></i></div>
                            <h4 class="title"><a href="">Kariyer</a></h4>
                            <p class="description">Şu anda Asp.net MVC üzerine çalışmalar yürütüyorum web ortamında birden fazla web sayfam aktif olarak kullanılmaktadır.Ayrıca Html/CSS/Boostrap gibi Front-End yazılımlada ilgilenmekteyim</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
          About Section
        ============================-->
        <!-- #about -->
        <!--==========================
          Clients Section
        ============================-->
  

    </main>


    <!-- JavaScript  -->
    <script src="~/webabout/lib/jquery/jquery.min.js"></script>
    <script src="~/webabout/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/webabout/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/webabout/lib/easing/easing.min.js"></script>
    <script src="~/webabout/lib/superfish/hoverIntent.js"></script>
    <script src="~/webabout/lib/superfish/superfish.min.js"></script>
    <script src="~/webabout/lib/wow/wow.min.js"></script>
    <script src="~/webabout/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/webabout/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/webabout/lib/sticky/sticky.js"></script>
    <script src="~/webabout/contact/jqBootstrapValidation.js"></script>
    <script src="~/webabout/contact/contact_me.js"></script>
    <script src="~/webabout//main.js"></script>

</body>
</html>


